body{
  background-color: #000;
}

.countdown-timer {
  text-align: center;
  font-weight: 600;
}

.time-display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1{
  margin: 30px 0;
  color: #fff;
}

.time-unit {
  margin: 10px;
  padding: 20px;
  width: 250PX;
  height: 60px;
  color: #fff;
  border-radius: 10px;
  background: linear-gradient(135deg , #14ffe9 , #ffeb3b , #ff00e0);
  position: relative;
  animation: name 1.5s linear infinite;
}
@keyframes name {
  100%
  {
    filter: hue-rotate(360deg);
  }
}

.time-unit div
{
  width: 240px;
  height: 50px;
  border-radius: 6px;
  background: #1b1b1b;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding-top: 5px;
  z-index: 999;
}
.time-unit div span
{
  /* -webkit-backdrop-clip: text; */
  color: #fff;
}
.time-unit span:first-child {
  font-size: 2em;
}



@media(max-width:400px)
{
  h1
  {
    font-size: 25px;
  }
}

